/* HTML Structure:
    header
        h2 nav 
            a
    section #intro_section
        article #intro_article
            p .article_headline
        article #intro_img
            p
    
*/

/* Design notes:
Colors;
    black: rgba(5, 1, 4, 1)
    white: rgba(255, 255, 255, 1)
    orangey-red: rgba(193, 68, 14, 1)
    grey: rgba(70, 70, 70, 0.3)
    
Font;
    Title: Inknut Antiqua 44px
    nav: Inknut Antiqua default size
    headline: Inkut Antiqua 40px
    paragraphs: Inria Sans 20px
    "shortcut" paragraphs: Inknut Antiqua 12px
    Small titles: DM Mono 32px light 
*/
* {
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100svw;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(5, 1, 4, 1);
  padding: 0 50px;
}

#title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 44px;
}

#title_container img {
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 1) 2px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

nav a,
a:active,
a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

nav a:hover {
  color: rgba(193, 68, 14, 1);
}

main {
  width: 100svw;
  background-color: rgba(5, 1, 4, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 75px;
}

main p {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 75px;
  gap: 50px;
}

#intro_article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  line-height: 1.5;
}

#intro_img img {
  border-radius: 50%;
}

#shortcut_section {
  height: 300px;
  width: 100svw;
  padding: 10px 75px;
  background-color: rgba(70, 70, 70, 0.3);
}

#shortcut_section img {
  border-radius: 50%;
}

#shortcut_section article {
  display: flex;
  width: 33%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#shortcut_section p {
  font-size: 14px;
}

.article_headline {
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  font-size: 44px;
  font-weight: 400;
}

.small_headline {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-size: 14px;
  padding-left: 50px;
  color: rgba(186, 186, 196, 1);
}

.subtitle {
  font-style: italic;
  margin-top: 50px;
}

.text_box {
  width: 50%;
}

.media_box {
  width: 50%;
}
