/* HTML Structure:
    header
        article #title_container
            h1 img
        nav
            a #overview #exploration #gallery

    section #intro_section
        article #intro_article
            p .article_headline
        article #intro_img
            img

    section #shortcut_section
        article
            img p

    section #overview
        article .text_box
            p .small_headline .article_headline .subtitle svg
        article .media_box
            iframe (youtube video)
    
*/

/* Design notes:
Colors;
    black: rgba(5, 1, 4, 1)
    white: rgba(255, 255, 255, 1)
    orangey-red: rgba(193, 68, 14, 1)
    grey: rgba(70, 70, 70, 0.3)
    
Font;
    title: Inknut Antiqua 44px
    nav: Inknut Antiqua default size
    headline: Inkut Antiqua 40px
    paragraphs: Inria Sans 20px
    "shortcut" paragraphs: Inria Sans 17px
    small titles: DM Mono 14px font-weight: 300 
*/

/* css reset */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Make the scrolling smooth instead of instant */
  scroll-behavior: smooth;
}

header {
  width: 100svw;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(5, 1, 4, 1);
  padding: 0 50px;
}

#title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

#title_container img {
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 1) 2px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-right: 40px;
  font-size: 18px;
}

nav a,
a:active,
a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

nav a:hover {
  color: rgba(193, 68, 14, 1);
}

main {
  min-width: 100svw;
  background-color: rgba(5, 1, 4, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 75px;
}

main p {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 200px;
  gap: 50px;
  min-height: 75svh;
}

#intro_article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  line-height: 1.5;
}
#intro_img img {
  border-radius: 50%;
  width: 400px;
}

#shortcut_section {
  min-height: 300px;
  width: 100svw;
  padding: 10px 75px;
  background-color: #33323266;
}

#shortcut_section img {
  border-radius: 50%;
}

#shortcut_section article {
  display: flex;
  width: 33%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#shortcut_section a {
  font-size: 17px;
  text-decoration: none;
  font-family: "Inria Sans", sans-serif;
  letter-spacing: 0.2px;
  cursor: pointer;
  line-height: 1.7;
  width: 200px;
}
#shortcut_section a:hover {
  background-color: rgba(118, 118, 119, 0.149);
}
.article_headline {
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  font-size: 44px;
}

.small_headline {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  color: rgba(186, 186, 196, 1);
}

.subtitle {
  font-family: "Inria Sans", sans-serif;
  font-style: italic;
  margin-top: 50px;
  text-decoration: none;
  font-size: 18px;
}

.subtitle_box {
  display: flex;
  flex-direction: row;
}

svg {
  align-self: flex-end;
}

#overview {
  background-color: #46464642;
  width: 100vw;
}
.text_box {
  width: 40%;
  padding-left: 10%;
}

.media_box {
  width: 60%;
  padding-right: 5%;
}
