/* HTML Structure:
    
 */
/* Design notes:
Colors;
    black: 
    orange: 
    red: 
    white:  
    
Font;
    Title: Inknut Antiqua 64px
    nav: Inkut Antiqua 32px
    headline: Inkut Antiqua 80px
    paragraphs: Inria Sans */
